@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

// colors

$main-background: hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);
$main-heading: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stat-headings: hsla(0, 0%, 100%, 0.6);

// fonts

$heading-font: "Inter", sans-serif;
$para-font: "Lexend Deca", sans-serif;

// spacing

$spacing: (1, 2, 3, 4, 5);
@each $space in $spacing {
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    .mx-#{$space} {
        margin: 0 #{$space}rem;
    }
    .mt-#{$space} {
        margin-top: #{$space}rem;
    }
    .mb-#{$space} {
        margin-bottom: #{$space}rem;
    }
    .ml-#{$space} {
        margin-left: #{$space}rem;
    }
    .mr-#{$space} {
        margin-right: #{$space}rem;
    }
    .p-#{$space} {
        padding: #{$space}rem;
    }
    .px-#{$space} {
        padding: 0 #{$space}rem;
    }
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
    .pt-#{$space} {
        padding-top: #{$space}rem;
    }
    .pb-#{$space} {
        padding-bottom: #{$space}rem;
    }
    .pl-#{$space} {
        padding-left: #{$space}rem;
    }
    .pr-#{$space} {
        padding-right: #{$space}rem;
    }
}
